.intro {
  padding: 0px 0px;
  width: 100%;
}
.intro_row {
  display: flex;
  align-items: center;
}
.intro__column {
  flex: 0 1 50%;
}
.intro__image {
  padding: 0px 0px 0px 35%;
  img {
    height: 400px;
    max-width: 100%;
  }
}
.intro__column-block {
  text-align: center;
}
.intro__title {
  font-size: 38px;
  font-weight: 300;
  color: #505961;
  margin: 0px 0px 12px 0px;
}
.intro__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #8b9297;
}
/* typesGym */
.types-gym {
}
.types-gym__row {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
.types-gym__column {
  padding: 0 15px;
  flex: 0 1 33%;
}
.types-gym__block-title {
  background-color: #72d0f4;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.types-gym__text {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    span {
      font-weight: 600;
      margin: 0px 5px 0px 0px;
      font-style: normal;
    }
}
.types-gym__room {
  font-size: 11px;
  font-weight: 700;
}
.types-gym__img {
  border-bottom: 4px solid #00bff0;
  img {
    max-width: 100%;
    height: auto;
  }
}
@import 'slotGym.scss';
@import 'infoGym.scss';
@import 'galleryGym.scss';
/* mappa-gym */
.mappa-gym {
  background: url('../img/bckr/placeholdMappa.png')center / cover no-repeat;
  height: 500px;
}
.mappa-container {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0px 10px;
	position: relative;
  height: 100%;
}
.mappa-gym__location .fa-map-marker-alt {
  color: #72d0f4;
  font-size: 150px;
  position: absolute;
  top: 34%;
  left: 37%;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.mappa-gym__timetable {
  background-color: hsla(197, 86%, 70%, 0.8);
  height: 100%;
  width: 370px;
  padding: 30px 25px 25px 29px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0px 10px 0px 0px;
}

.timetable__title {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 30px;
  margin: 0px 0px 20px 0px;
  span {
    font-family: 'Open Sans Condensed';
    font-size: 30px;
    font-weight: 300;
  }
}
.timetable__timeLine {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 18px 0px;

}
.lasttime {
  margin: 0px 0px 27px 0px;
}
.timetable__icon .fa-calendar {
  margin: 0px 10px 0px 0px;
  color: white;
}

.timeLine__blockk {
  display: flex;
}
.when {
  font-size: 14px;
  font-weight: 600;
}
.timetable__subtext {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #fafafa;
    margin: 0px 0px 19px 0px;
}
.timetable__subtitle {
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    color: #fafafa;
}
/* startup-block */
.startup-block {
  padding: 127px 0px;

}
.startup-block__row {
  display: flex;
  align-items: center;
  width: 67%;
  margin: 0 auto;
}
.startup-block__link {
  margin: 0px 40px 0px 0px;
  .fa-twitter {
    font-size: 120px;
    color: #72d0f4;
    font-size: calc(60px + 60 * (100vw / 1600));
  }
}
.startup-block__text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #00bff0;
  span {
    color: #0056a4;
  }
}

/* aboutHtml */
.about__image {
  background: url(../img/image/AboutImage/1.jpg)center / cover no-repeat; 
  padding: 0px 0px 24.6% 0px;
  z-index: -1;
}
.about-image__text {
  text-transform: uppercase;
}
/* abous-us */

.about-us {
  background-color: #00bff0;
  padding: 70px 0px 80px 0px;
}
.about-us__container {
  max-width: 930px;
  padding: 0px 15px;
  margin: 0 auto;
}
.about-us__row {
  display: flex;
  align-items: center;
  margin: 0 -15px;
}
.about-us__column {
  flex: 0 1 50%;
  padding: 0 15px;
}
.about-us__image {
  img {
    width: 370px;
    height: 200px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.column-textAbout {
  text-align: center;
}
.about-us__tutle {
  font-size: 38px;
  font-weight: 300;
  margin: 0px 0px 12px 0px;
}
.about-us__text {
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px 11px 0px;
  line-height: 24px;
}
.about-us__subtext {
  span {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
  }
  font-weight: 400;
  font-style: italic;
}
/* ourTrainers */
.our-trainers {
  background-color: #f3f3f3;
  padding: 119px 0px 100px 0px;
}
.our-trainers__titleIntro {
  font-family: 'Open Sans Condensed';
  font-size: 30px;
  font-weight: 300;
  color: #57cbf4;
  margin: 0px 0px 25px 0px;
  text-align: center;
}
.our-trainers__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.our-trainers__item {
  flex: 0 1 33.333%;
  padding: 0 15px;
  margin: 0px 0px 30px 0px;
}
.our-trainers__block {
  padding: 35px 44px;
  background-color: #72d0f4;
  display: flex;
  
}
.block-white {
  background-color: white;
}
.nameAAA {
  color: #72d0f4;
}
#nameAAA {
  color: #00bff0;
}
#nameBBB {
  color: #72d0f4;
}
#nameBlack {
  color: #606060;
}
.our-trainers__item-low {
  margin: 0px 37px 0px 0px;
  &:last-child {
    margin: 0px 0px 0px 0px;
  }
  &:first-child {
    position: relative;
    &::before {
      content: '';
      width: 1px;
      height: 180px;
      background-color: #a9ddf1;
      position: absolute;
      right: -18.5px;
      top: 0;
    }
  }
}
.our-item {
  flex: 0 1 50%;
  text-align: center;
}
.our-item__image {
  margin: 0px 0px 11px 0px;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}
.our-item__name {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 4px 0px;
}
.our-item__profession {
  font-size: 12px;
  font-style: italic;
  text-transform: uppercase;
  color: #f6f6f6;
  
  margin: 0px 0px 12px 0px;
}
.our-item__text {
  font-size: 12px;
  font-style: italic;
  color: #f6f6f6;
}
.our-item__icons-block {
  margin: 13px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.our-item__icon {
  .fa-heart {
    margin-right: 5px;
    color: #e2e2e2;
    transition: color .3s linear;
    &:hover {
      color: #ff0000;
    }
  }
  .fa-thumbs-up {
    transition: color .3s linear;
    margin: 0;
    color: #e2e2e2;
    &:hover {
      color: #029ec6;
    }
  }
  .fa-twitter {
    color: #e2e2e2;
  }
}
.icon-ser {
  .fa-heart {
    margin-right: 5px;
    color: #a7a7a7;
    transition: color .3s linear;
    &:hover {
      color: #ff0000;
    }
  }
  .fa-thumbs-up {
    transition: color .3s linear;
    margin: 0;
    color: #a7a7a7;
    &:hover {
      color: #029ec6;
    }
  }
  .fa-twitter {
    color: #a7a7a7;
  }
}
.our-text {
  flex: 0 1 50%;
}
.our-text__title {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f4f4f4;
  margin: 0px 0px 12px 0px;
}
.our-text__subtitle {
  font-size: 11px;
  color: #f4f4f4;
  margin: 0px 0px 20px 0px;
}
.our-text__text {
  font-size: 11px;
  color: #f4f4f4;
}
/* why-join */
.why-join {
  background-color: #72d0f4;
  padding: 34px 0px 45px 0px;
}
.why-join__row {
  display: flex;
}
.why-join__item {
  flex: 0 1 50%;
  text-align: center;
  position: relative;
  margin: 0px 136px 0px 0px;
  &:first-child {
    &::after {
      content: '';
      width: 1px;
      height: 180px;
      background-color: #a9ddf1;
      position: absolute;
      right: -68px;
      top: 0;
    }
  }
  &:last-child {
    margin: 0px 0px 0px 0px;
  }
}
.why-join__title {
  color: #ffffff;
}
.join__title {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
}
.join__subtitle {
  font-size: 24px;
  line-height: 48px;
  font-weight: 600;
}
.why-join__subtitle {
  color: #ffffff;
}
.why-join__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  margin: 0px 0px 14px 0px;
}
.why-join__button-red {
  height: 42px;
  background: #ff0000;
  border: 1px solid #72d0f4;
  border-radius: 7px;
  padding: 0px 101px;
  display: inline-block;
  line-height: 42px;
  transition: all 0.5s ease-in-out;
  &:hover {
    background: white;
    color: black;
  }
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
}
.join-black__title {
  color: #222222;

}
.join-black__subtitle {
  color: #222222;
}
.join-black__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #222222;
  margin: 0px 0px 14px 0px;
}
.join-black__button {
  height: 42px;
  border: 1px solid #72d0f4;
  display: inline-block;
  padding: 0px 46px;
  border-radius: 7px;
  line-height: 42px;
  transition: all 0.5s ease-in-out;

  &:last-child {
    margin: 0px 0px 0px 17.5px;
  }
  &:first-child {
    margin: 0px 17.5px 0px 0px;
  }
}
.join-button-white {
  background-color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  color: #72d0f4;
  font-weight: 600;
  &:hover {
    background: #5ebadf;
    color: #fff;
  }
}
.join-button-blue {
  background-color: #a1eef7;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  &:hover {
    background: #8cd6df;
    color: #000;
  }
}
/* comment */
.comment {
  padding: 100px 0px 94px 0px;
  text-align: center;
}
.comment__circle {
  width: 108px;
  height: 108px;
  background-color: #00afec;
  border-radius: 50%;
  position: relative;
  margin: 0 auto 32px auto;
}
.comment__q {
  font-size: 125px;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -28%);
}
.comment__text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  font-style: italic;
  color: #787c7f;
  margin: 0px 0px 50px 0px;
}
.comment__subtext {
  font-size: 16px;
  font-weight: 400;
  color: #72d0f4;
  span {
    color: #414141;
  }
}


/* CLASSES HTML */
.classes-html__image {
  background: url(../img/image/galleryGym/2.jpg)center / cover no-repeat; 
  padding: 0px 0px 24.6% 0px;
  z-index: -1;
  border-bottom: 10px solid #00bff0;
}
@import 'classesSport.scss';
/* classes startup */
.startup-classes-block {
  padding: 80px 0px;
}

/* CLASSES-SINGLE HTML FILE */
.pilates__image {
  background: url(../img/image/galleryGym/8.jpg)center / cover no-repeat; 
}
.pilates-image__Text {
  display: flex;
  align-items: center;
  padding: 15px 200px 15px 28px;
}
.aboutArrow {
  font-size: 11px;
  margin: 0px 19px 0px 15px;
}
.aboutPilates {
  font-weight: 300;
  font-size: 12px;
}
/* pilates-sect */
.pilates-sect {
  padding: 82px 0px 90px 0px;
}
.pilates-sect__row {
  display: flex;
  margin: 0 -15px;
}
.pilates-sect__column {
  padding: 0 15px;
}
.pilates-sect__column-b {
  display: flex;
  flex-direction: column;
  flex: 0 1 70%;
}
.pilates-sect__column-s {
  flex: 0 1 30%;
}
.pilates-sect__image {
  background: url(../img/image/galleryGym/12.jpg)center / cover no-repeat;
  padding: 0px 0px 42% 0px;
}
.pilates-sect__block {
  padding: 30px 25px 40px 25px;
  background-color: #fff;
  flex: 1 1 100%;
}
.pilates-sect__text {
  font-size: 14px;
  line-height: 22px;
  color: #7f8c8c;
  margin: 0px 0px 60px 0px;
}
.pilates-sect__priceBl {
  display: flex;
}
.pilates-item-low {
  flex: 25%;
  margin: 0px 0px 0px 0px;
  &::before {
    display: none;
  }
}

.title-pilates {
  font-size: 16px;
  font-weight: 600;
  color: #72d0f4;
  margin: 0px 0px 15px 0px;
  text-transform: uppercase;
}
.pilates-sect__featured {
  text-align: center;
  flex: 37.5%;
}
.pilates-sect__featBlock {
  display: flex;
  margin: 0px 0px 16px 0px;
  padding: 0px 0px 0px 40px;
  &:last-child {
    margin: 0px 0px 0px 0px;
  }
}
.featBlock__image {
  margin: 0px 16px 0px 0px;
}
.featBlock__text {
  font-size: 14px;
  color: #a6a6a6;
}
.pilates-sect__price {
  flex: 37.5%;
  text-align: center;
}
.pilates-mappa {
  position: inherit;
  height: 390px;
  margin: 0px 0px 10px 0px;
  background-color: #92d1e9;
}
.pilates-column-s {
  padding: 25px 27px 27px 27px;
}
.pilates-timeline {
  border-bottom: 1px dotted #fff;
}
.title-pilates-2 {
  margin: 0px 0px 35px 0px;
}
.sect__price__block {
  padding: 0px 0px 0px 35px;
  display: flex;
  align-items: center;
  margin: 0px 0px 6px 0px;
}
.sect__price__image {
  margin: 0px 14px 0px 0px;
}
.sect__price__text {
  font-size: 14px;
  color: #a6a6a6;
}
.sect__price__price {
  margin: 0px 0px 0px 38px;
  padding: 5px 7px 4px 7px;
  background-color: #72d0f4;
}
/* pageBlock */
@import 'pageBlock.scss';
/* contacts */
@import 'contacts.scss';
/* pricing */
.pricing-image {
  background: url(../img/image/galleryGym/4.jpg) center / cover no-repeat;
}

/* columns */
.pricing-plans {
  padding: 60px 0px 95px 0px;
}
.pricing-plans__intro-title {
  text-align: center;
  margin: 0px 0px 34px 0px;
  font-family: 'Open Sans Condensed';
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #72d0f4;
}
.pricing-plans__row {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
#pricing-plans__title-blue {
  color: #72d0f4;
  .fa-check {
    color: #72d0f4;
  }
}
#pricing-plans-blue-border {
  border: 1px solid rgba(114,208,244,0.78);
  color: #72d0f4;
}
.pricing-plans__column {
  border-radius: 5px;
  margin: 0px 0px 30px 0px;
  &:last-child {
    margin: 0px 0px 30px 0px;
  }
  flex: 0 1 23%;
  padding: 15px 0px;
  &:nth-child(1) {
    background-color: #00bff0;
  }
  &:nth-child(2) {
    background-color: rgba(0,191,240,0.8);
  }
  &:nth-child(3) {
    background-color: rgba(255,255,255,0.8);
  }
  &:nth-child(4) {
    background-color: rgba(0,191,240,0.6);
  }
}
.pricing-plans__title {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px 0px 26px 0px;
}
.pricing-plans__price {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px 21px 0px;
}
.pricing-plans__block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 9px 0px;
  &:last-child {
    margin: 0px 0px 0px 0px;
  }
}
.pricing-plans__check {
  .fa-check {
    color: #fff;
    font-size: 12px;
    margin: 0px 8px 0px 0px;
  }
}

.pricing-plans__text {
  color: #fff;
  font-size: 12px;
}
.pricing-plans__button {
  margin: 20px 0px 0px 0px;
}
.pricing-plans__btn {
  border-radius: 7px;
  display: inline-block;
  line-height: 39px;
  padding: 0px 40px;
  height: 39px;
  border: 1px solid rgba(255,255,255,0.78);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: rgba(255,255,255,0.78);
    color: #029ec6;
  }
}
/* question */
.question {
  padding: 74px 0px;
  background-color: #e6e6e6;
}

.question__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question__left {
  padding: 0px 10px 0px 0px;
}
.question__title {
  font-size: 30px;
  font-weight: 600;
  color: #00bff0;
  margin: 0px 0px 6px 0px;
}
.question__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #00bff0;
}
.question__right {
}
.question__button {
  height: 50px;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  transition: all .2s ease-in-out;
  &:hover {
    background-color: #dd0000;
  }
}
/* timetable */
.timetable-image {
  background: url(../img/image/galleryGym/11.jpg)center / cover no-repeat;
}
.table {
  padding: 70px 0px 121px 0px;
}
.table-intro {
  border-collapse: collapse;
}
.table__tr {
 
}
.top-tr {
  background-color: rgba(114,208,244,0.4);
  
}
.table__top-edge {
  background-color: #89ddf7;
  min-width: 145px;
  height: 100px;
}
.table__top-th {
  height: 100px;
  min-width: 145px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #00bff0;
}
.table__time {
  text-align: center;
  background-color: #99e5f9;
  min-width: 145px;
  height: 100px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #feffff;
}
.table__event {
  font-size: 12px;
  font-weight: 400;
  color: #0c0f00;
  text-align: center;
  min-width: 145px;
  height: 100px;
  background-color: #fff;
}
#event-blue-table {
  background-color: rgba(0, 192, 240, 0.1);
}
.adaptiv-table {
  overflow-x: auto;
}
.table-margin {
  margin: 130px 0px 0px 0px;
}